.my-review-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 576px) {
    .my-review-section {
        display: grid;
        grid-template-columns: 1fr;
    }
}